aiopubsub==3.0.0
bleak==0.12.1
mongox==0.1.0
nbformat==5.2.0
numpy==1.23.3
paho_mqtt==1.6.1
protobuf==4.21.6
purerpc==0.8.0
python-dotenv==0.21.0
ruuvitag_sensor==2.0.0
termcolor==1.1.0
typing_extensions==4.3.0