# This is a basic workflow to help you get started with Actions

name: gateway unittest

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: 
      - main
      #- develop
      #- feature/*
  pull_request:
    branches: 
      #- main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      #Install the latest version of python
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'

      # Install requirements.txt manually
      - name: Check requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Check if the setup.py runs successfully
      - name: Check setup routine
        run: python setup.py install
        
      # Run test_gateway.py
      - name: Gateway test
        working-directory: ./tests
        run: pytest test_gateway.py

        
      # Runs a set of commands using the runners shell
      #- name: Run a multi-line script
      #  run: |
      #    echo Add other actions to build,
      #    echo test, and deploy your project.
